# Deshabilita la navegación a través de los directorios
Options -Indexes

# Páginas de error personalizadas
ErrorDocument 400 /error/bad-request.php
ErrorDocument 403 /error/forbidden.php
ErrorDocument 404 /error/not-found.php
ErrorDocument 500 /error/internal-error.php