<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/error/internal-error.php">
            <error statusCode="400" redirect="~/error/bad-requestr.php" />
            <error statusCode="404" redirect="~/error/forbidden.php" />
            <error statusCode="404" redirect="~/error/not-found.php" />
            <error statusCode="500" redirect="~/error/internal-error.php" />
        </customErrors>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors  errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="400" />
            <remove statusCode="403" />
            <remove statusCode="404" />
            <remove statusCode="500" />
            <!-- Páginas de error personalizadas -->
            <error statusCode="400" path="/error/bad-request.php" responseMode="ExecuteURL" />
            <error statusCode="403" path="/error/forbidden.php" responseMode="ExecuteURL" />
            <error statusCode="404" path="/error/not-found.php" responseMode="ExecuteURL" />
            <error statusCode="500" path="/error/internal-error.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>

</configuration>
